.join-wrap {
	width: 1200px;
	/* height: 1100px; */
	margin: 0 auto;
}

.join-title-box {
	margin: 40px 0;
}

.join-title-box h1 {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

.join-title-bar {
	display: block;
	margin: auto;
	background-color: #f5f5f5;
	width: 100%;
	height: 3px;
	margin-top: 5px;
}

.join-agree {
	/* width: 100%; */
	margin: 80px 0;
}

.join-agree-title>h1 {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 10px 0;
}

.join-agree-title>p {
	font-size: 13px;
	margin-bottom: 50px;
}

.join-agree-content {
	font-size: 16px;
	font-weight: bold;
}

.join-agree-content h1 {
	float: left;
	margin-bottom: 20px;
}

.join-agree-content span {
	float: right;
	margin-bottom: 20px;
}

.join-agree-bar {
	display: block;
	margin: auto;
	background-color: #f5f5f5;
	width: 100%;
	height: 2px;
	margin: 30px 0 30px 0;
}

.btn {
	text-align: center;
}

.join-agree-btn {
	width: 200px;
	height: 80px;
	margin: 50px 30px 0;
	font-size: 26px;
	background-color: #cd2c3b;
	color: #f5f5f5;
	border: 0.1px solid;
}

.join-cancel-btn {
	width: 200px;
	height: 80px;
	margin: 50px 30px 0;
	font-size: 26px;
	background-color: #f5f5f5;
	border: 0.1px solid;
}