.join-agree-wrap {
    width: 1200px;
    margin: 0 auto;
    font-size: 13px;
}


/**/

.join-title-box {
    margin: 40px 0;
}

.join-title-box h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.join-title-bar {
    display: block;
    margin: auto;
    background-color: #f5f5f5;
    width: 100%;
    height: 3px;
    margin-top: 5px;
}


/**/

.join-agree-final {
    margin-bottom: 80px;
}

.join-agree-final-title {
    margin: 30px 0 30px 0;
    font-size: 20px;
    font-weight: bold;
}

.agree-background {
    background: #f1f1f1;
    font-weight: bold;
    padding-left: 20px;
    width: 200px;
}

.join-agree-final-box {
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #ddd;
}

.call-btn {
    display: inline-block;
    width:120px;
    height: 30px;
    line-height: 30px;
    background: #999999;
    color: #fff !important;
    font-weight: bold;
    padding: 0px 10px;
    font-size: 12px;
    margin-left: 10px;
    border: none;
}

.join-agree-btn {
    width: 200px;
    height: 80px;
    margin: 50px 30px 0;
    font-size: 26px;
    background-color: #cd2c3b;
    color: #f5f5f5;
    border: 0.1px solid;
}

.join-cancel-btn {
    width: 200px;
    height: 80px;
    margin: 50px 30px 0;
    font-size: 26px;
    background-color: #f5f5f5;
    border: 0.1px solid;
}