.login-wrap {}

.login-background {
    padding: 120px 0;
    background-color: #f5f5f5;
}

.login-title {
    width: 1000px;
    margin: 0 auto;
}

.login-title ul {
    font-weight: bold;
    border-bottom: 2px solid #333333;
    padding-bottom: 10px;
    font-size: 30px;
}

.login-title img {
    margin-top: 5px;
}

.login-detail {
    background-color: #ffffff;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #dadada;
}

.login-page {
    width: 500px;
    padding: 100px;
}

.login-page p {
    font-size: 28px;
    color: red;
    font-weight: 200;
    margin: 10px;
}

.login-page h1 {
    font-size: 13px;
    margin: 10px 0 0 10px;
    color: #818181;
}

.login-box {
    margin-top: 30px;
}

.login-box>input {
    width: 300px;
    height: 50px;
    border: #e6e6e6 1px solid;
    color: #818181;
    margin-top: 10px;
}

.login-box-etc {
    font-size: 13px;
    width: 300px;
    margin-top: 10px;
    color: #818181;
}

.login-btn {
    margin-top: 10px;
    width: 300px;
    height: 50px;
    background-color: #bb2b32;
    color: #dadada;
    font-size: 18px;
    border: none;
}

.login-center-bar {
    display: block;
    height: 90%;
    margin: auto;
    border: 1px solid #f3f3f3cb;
}

.join-page {
    width: 500px;
    padding: 100px;
}

.join-title p {
    font-size: 28px;
    color: red;
    font-weight: 200;
    margin: 10px;
}

.join-title h1 {
    font-size: 13px;
    margin: 20px 0 0 10px;
    color: #818181;
}

.join-box-info {
    margin: 10px;
    width: 300px;
    background-color: #eeeeee2d;
}

.join-box-info a {
    display: block;
    width: 300px;
    height: 60px;
    border: 1px solid #bb2b32;
    text-align: center;
    line-height: 60px;
    background-color: white;
    color: #bb2b32;
    font-size: 18px;
}

.join-box-info p {
    width: 300px;
    font-size: 12px;
    margin: 10px 0 0 10px;
    color: #6e6e6e;
}