.board-view {
    padding-top: 20px;
    font-size: 13px;
    
}

.view-name {
	font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #eee;
}

.view-content {
	
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.bContent {
    padding: 20px;
    line-height:30px;
    height: 400px;
    border-bottom: 1px solid #eee;
}

.btn {
    text-align: center;
    height: 160px;
}

.btn button {
    width: 140px;
    height: 40px;
    margin: 50px 10px 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #eee;
    border: 0.1px solid #eee;
}


.replyarea {
    width: 100%;
}

.replyarea textarea {
    width: 800px;
    height: 60px;
    border: rgb(180, 180, 180) solid 1px;
}

.replyarea button {
    width: 120px;
    height: 60px;
    margin-left: 30px;
    background-color: #eee;
    border: none;
}
