.board-list {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 80px;
	padding-top: 20px;
}

.board-title {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #eee;
	font-weight: bold;
	font-size: 15px;
}

.board-content td {
	text-align: center;
	max-height: 400px;
	height: 40px;
	vertical-align: middle;
	line-height: 40px;
	border-bottom: 1px solid #eee;
	font-size: 13px;
}

.board-reply {
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	
}