.content {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.mypage-box1 {
    /* display: flex;
	flex-direction: column;
	justify-content: space-around; */
}

.mypage-nav p {
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    padding: 10px;
}

.mypage-nav ul {
    font-size: 13px;
    /* margin: 30px 10px 10px 10px; */
    height: 300px;
    width: 200px;
    padding: 10px;
}

.mypage-nav li {
    margin-top: 20px;
}

.mypage-bar {
    display: block;
    width: 90%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.568);
    margin: 60px auto;
}

.callcenter-box {
    margin-left: 10px;
}

.mypage-box2 {
    /* flex: 0.8; */
}

.mypage-info-box {
    padding-top: 20px;
}


/* 
.mypage-info-box2 {
    padding-top: 20px;
} */