
.pictureUrl {
    margin-right: 100px;
}

.pictureUrl img{
	min-width: 200px;
    height: 200px;
    
}

.product-info {
    padding: 10px;
}

.product-info tr {
    height: 40px;
    line-height: 40px;
}

/**/

.product-info-detail {
    margin: 30px 0;
}

.detail-img>img{
    min-width: 300px;
    height: 300px;
}

.btn-class {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0;
    
}

.btn-class>input {
     width: 160px;
    height: 60px;
    margin: 50px 10px 0;
    font-size: 20px;
    font-weight:bold;
    background-color: #f5f5f5;
    border: 0.1px solid;
}