.goodsList tr th {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #eee;
	font-weight: bold;
}

.goodsList tr td {
	text-align: center;
	max-height: 400px;
	height: 60px;
	vertical-align: middle;
	line-height: 20px;
	border-bottom: 1px solid #eee;
}


.gdsThumbImg img{
	max-width: 150px;
	height: auto;
}
