
#container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#container_box {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

table tbody tr {
    height: 50px;
    line-height: 50px;
}

table tbody tr input,
select {
    width: 200px;
    height: 25px;
    border: 1px solid rgb(117, 117, 117);
}

.registerCate select {
    width: 100px;
}

.registerName {}

.registerPrice {}

.registerStock {}

.registerDes {
	margin: 30px 0;
}
.registerImg{
	margin: 10px 0;
}

.select_img img{
	max-width: 300px;
	height: auto;
}


.register-btn {
    width: 160px;
    height: 60px;
    margin: 50px 10px 0;
    font-size: 20px;
    font-weight:bold;
    background-color: #f5f5f5;
    border: 0.1px solid;
}

.go-back {
    width: 160px;
    height: 60px;
    margin: 50px 10px 0;
    font-size: 20px;
    font-weight:bold;
    background-color: #f5f5f5;
    border: 0.1px solid;
}

#gdsImg {
    border: none;
}
