.memberInfo {
    width: 100%;
}

.memberInfoTitle {}

.memberInfoTitle th {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #eee;
}

.memberInfoContent td {
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
}