.orderList {}

.orderListTitle {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #eee;
}

.orderListInfo {
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-bottom: 1px solid #eee;
    
}

.orderListInfo img {
    width: 60px;
    vertical-align: middle;
}