.orderViewfrom {
    text-align: center;
    font-weight: bold;
}

.orderViewName {
    height: 40px;
    line-height: 40px;
    background-color: #eee;
}

.orderViewInfo {
    height: 80px;
    line-height: 80px;
}

.orderViewInfo img {
    width: 60px;
    vertical-align: middle;
}

.title1,
.title2 {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    margin-top: 40px;
    font-weight: bold;
}

.orderUserInfo tr,
.orderAgreePost tr {
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}