@charset "UTF-8";

.box02 {
	margin-top: 30px;
}

.best-wrap {
    width: 1200px;
    margin: 30px auto;
}

.best-title {
    margin: 30px 0;
}

.best-box1 {
    width: 380px;
    border: #dddddd 1px solid;
    padding: 10px;
}

.best-box-bar {
    width: 80%;
    height: 1px;
    margin: 20px auto;
    background-color: #cac4c4;
}

.box1-title {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.box1-content {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

.box1-content>span {
    font-weight: bold;
}

.best-box1-sec,
.best-box1-thi {
    font-size: 12px;
    font-weight: bold;
}

.best-box1-sec p,
.best-box1-thi p {
    line-height: 110px;
}

.box1-sec-content,
.box1-thi-content {
    width: 150px;
    height: 100px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.item-go {
    background-color: #eee;
    width: 150px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 20px auto;
    font-size: 13px;
    font-weight: bold;
}