@charset "UTF-8";
.category-wrap {
    width: 1200px;
    margin: 30px auto;
}

.category-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.box02 {
    margin-top: 30px;
}

.category-box1 {
    background-color: #fcf8f8;
    width: 380px;
}


.category-box2 {
	background-color: #e7f2f3;
	width: 380px;
}

.category-box3 {
	background-color: #f5f5f5;
	width: 380px;
}

.category-box4 {
	background-color: #eff2fa;
	width: 380px;
}

.category-box5 {
	background-color: #f3faf6;
	width: 380px;
}

.category-box6 {
	background-color: #fffefc;
	width: 380px;
}

.box-title {
    font-size: 13px;
    height: 40px;
    text-align: center;
    padding-top: 20px;
}

.title-bar {
    display: block;
    margin: 7px auto;
    width: 200px;
    height: 2px;
    background-color: #cccccc;
}

.box-list {
    margin-top: 40px;
    font-weight: bold;
    font-size: 13px;
}

.box-list-fir {
    text-align: center;
}

.box-list-fir ul {
    margin: 10px 0 30px 0;
}

.box-list-sec {
    text-align: center;
}

.box-list-sec ul {
    margin-top: 10px;
}

.box-list-thi {
    text-align: center;
}

.box-list-thi ul {
    margin-top: 10px;
}

.item-go {
    background-color: white;
    width: 150px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 20px auto;
    font-size: 13px;
    font-weight: bold;
}