@charset "UTF-8";

.choice-wrap {
    width: 1200px;
    margin: 30px auto;
}


.choice-title {
    width: 100%;
    margin-top: 30px;
}

.choice-box {
    margin: 30px 0;
    font-size: 12px;
    text-align: center;
}

.box1-list li {
    border: #cac4c4 1px solid;
}

.box1-list p {
    height: 30px;
    line-height: 30px;
    font-weight:bold;
    background-color: #fcfcfc;
}
