@charset "UTF-8";

.slideshow {
	background: #000;
	height: 500px;
	/* min-width: 960px; */
	overflow: hidden;
	position: relative;
}

.slidesshow_slides {
	position: absolute;
	width: 100%;
	height: 100%;
}

.slidesshow_slides a {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

.slidershow_nav a {
	width: 65px;
	height: 65px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	/* background: url("/resources/images/prev.png") no-repeat; */
	text-indent: -9999em;
}

.slidershow_nav a.disabled {
	display: none;
}

.slidershow_nav a.prev {
	margin-left: -600px;
	
	width: 100px;
	height: 100px;
	background: url("/resources/images/prev.png") no-repeat;
	background-size: 100px;
}

.slidershow_nav a.next {
	margin-left: 600px;
	
	width: 100px;
	height: 100px;
	background: url("/resources/images/next.png") no-repeat;
	background-size: 100px;
}

.indicator {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}

.indicator a {
	width: 20px;
	height: 20px;
	margin: 0 5px;
	text-indent: -999em;
	background: white no-repeat;
}

.indicator a.active {
	width: 20px;
	height: 20px;
	margin: 0 5px;
	text-indent: -999em;
	background: red no-repeat;
}