#content {
    width: 1200px;
    min-height:400px;
    margin: 30px auto;
    font-size: 14px;
    font-weight: bold;
}

.mapCount {
    font-size: 20px;
    min-height: 300px;
    display: block;
    line-height: 300px;
    text-align: center;
}

.cartList {
    width: 100%;
}

.cartList .cartListName {
    margin-top: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #eee;
}

.cartList .cartListInfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-bottom: 1px solid #eee;
}

.cartListInfo img {
    width: 40px;
    vertical-align: middle;
}

.cartTotal {
	width: 100%;
    height: 40px;
    font-size: 13px;
    line-height: 40px;
    margin-right: 10px;
    margin-top: 10px;
}

.cartTotalMoney {
    text-align: right;
    margin-left: 30px;
}

#btnDelete {
    width: 120px;
    height: 30px;
    font-size: 13px;
    border: none;
    background-color: #eee;
}

.btn {
    text-align: center;
}

.order-btn {
    width: 160px;
    height: 60px;
    margin: 50px 30px 0;
    font-size: 20px;
    background-color: #cd2c3b;
    color: #f5f5f5;
    border: 0.1px solid;
}

.cancel-btn {
    width: 160px;
    height: 60px;
    margin: 50px 30px 0;
    font-size: 20px;
    background-color: #f5f5f5;
    border: 0.1px solid #eee;
}