.content-wrap {
	width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

.content-wrap ul li {
	display: inline-block;
	margin: 30px 16px 30px 0;
	color: #eee;
	border: 1px solid #eee;
}

.content-wrap ul li:nth-child(5n) {
	margin: 30px 0;
	color: #eee;
}

.pictureUrl img {
	width: 220px;
	height: 220px;
}

.productInfo {
	width: 200px;
	height: 120px;
	padding: 10px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
}

.bar {
    width: 90%;
    height: 1px;
    margin: 30px auto;
    background-color: #cac4c4;
}