#content {
	width: 1200px;
	margin: 30px auto;
	font-size: 14px;
	font-weight: bold;
}

.boardView {
	margin-top: 30PX;
}

.productInfo {
	
}

.productImg img {
	width: 500px;
	height: 500px;
}

.productContent {
	width: 600px;
	height: 500px;
}

.productContent tr {
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	text-align: left;
}

.notice td {
	padding-top: 30px;
}

.btnClass {
	font-size: 16px;
	text-align: center;
	position: relative;
	top: 100px;
}

.buy_btn {
	width: 120px;
	height: 60px;
	background-color: #cd2c3b;
	color: #f5f5f5;
	border: 0.1px solid;
	margin-right: 20px;
}

.cart_btn {
	width: 120px;
	height: 60px;
	background-color: #f5f5f5;
	color: #555555;
	border: 0.1px solid #eee;
	margin-left: 20px;
}

.description {
	margin: 60px 0;
	line-height: 25px;
}

.bar {
	width: 90%;
	height: 1px;
	margin: 50px auto;
	background-color: #cac4c4;
}

.amount select{
	height: 30px;

}