#container_box {
    width: 100%;
    min-height: 600px;
    font-size: 14px;
}

#container_box .date,
#container_box .hit,
#container_box .name,
#container_box .title,
#container_box .content {
    height: 30px;
    line-height: 30px;
}
#container_box .content {
	min-height: 300px;
}

.replyarea {
    width: 100%;
}

.replyarea textarea {
    width: 800px;
    height: 60px;
    border: rgb(180, 180, 180) solid 1px;
}

.replyarea button {
    width: 120px;
    height: 60px;
    margin-left: 30px;
    background-color: #eee;
    border: none;
}
