.reply-box {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.reply-name {
    width: 250px;
    height: 40px;
    text-align: center;
}

.reply-replytext {
    width: 1000px;
    vertical-align: center;
}

.reply-btn {
    width: 200px;
    margin-top: 10px;
}

.reply-btn button {
    width: 60px;
    height: 30px;
}
.reply-page-btn{
 height: 60px;
 line-height: 60px;
}