#aside {
    float: left;
    width: 10%;
    min-width: 160px;
    min-height: 600px;
    /* border: 1px solid red; */
}

#aside ul li {
    text-align: center;
    margin-bottom: 10px;
}

#aside ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
}

#aside ul li a:hover {
    background: #eee;
}
