#header {
    font-size: 35px;
    padding: 0 40px;
    background-color: #f9f9f9;
}

#header_box .title {
    color: #000;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
}



#container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#container_box {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 100px 0;
}