@charset "UTF-8";

.footer {
    border-top: 2px rgb(202, 202, 202) solid;
}

.footer-wrap {
    width: 1200px;
    margin: 0 auto;
}

.footer-top {}

.footer-menu01 {
    height: 20px;
    font-size: 13px;
    margin: 20px 0 20px 0;
    font-weight: bold;
}

.footer-menu01 span {
    margin: 0 20px;
}

.footer-bottom {
    width: 1200px;
    margin: 0 auto 60px;
    /* height: 400px; */
}

.company-info-area {
    width: 100%;
    background-color: #505050;
    float: left;
    height: 150px;
}

.company-info {
    width: 1200px;
    margin: 20px auto;
    font-size: 12px;
    color: #959595;
    line-height: 25px;
}