.gnb {
    width: 100%;
    background-color: #bb2b32;
}

.gnb-wrap {
    width: 1200px;
    margin: 0 auto;
    height: 40px;
}

.gnb-top {}

.gnb-top ul {}

.gnb-top li {
    text-align: center;
    line-height: 40px;
    height: 40px;
}

.gnb-top a {
    color: #fff;
    font-size: 13px;
    display: block;
}

.gnb-bar {
    background-color: rgba(255, 255, 255, 0.76);
    width: 1px;
    height: 30px;
    margin-top: 5px;
}

.gnb-top a:hover {
    color: #faa640;
    font-weight: bold;
}

.gnb-menu01 {
    flex: 1;
}

.gnb-menu02 {
    background-color: rgb(187, 92, 92);
    flex: 1.5;
}