.header {
    height: 160px;
    width: 100%;
}

.header-wrap {
    background-color: #f5f5f5;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
}

.header-top {
    width: 1200px;
    margin: 0 auto;
}

.bookmark {}

.login-wrap {}

.header-bottom {
    width: 1200px;
    margin: 30px auto;
}

.header-logo {}

.header-search {
    text-align: left;
    width: 440px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #cd2c3b;
    margin-top: 20px;
    margin-right: 150px;
    /* display: flex;
    flex-direction: row-reverse; */
}

.header-search .main-search {
    font-size: 16px;
    padding-top: 10px;
    width: 400px;
    height: 25px;
    border: 0 none;
}
 
.header-search-btn {
    border: none;
    padding: 0PX;
}

.header-search-btn>img {
    width: 25px;
    height: 25px;
}

.header-tel {
    position: relative;
    right: 100px;
}