#content {
    width: 1200px;
    min-height: 400px;
    margin: 30px auto;
    font-size: 14px;
    font-weight: bold;
}
.orderlistfrom{
	
}
.orderListName{
	margin-top: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #eee;
}

.orderListInfo{
	height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-bottom: 1px solid #eee;
}
.orderListInfo img{
	width: 40px;
    vertical-align: middle;
}