#content {
    width: 1200px;
    min-height: 400px;
    margin: 30px auto;
    font-size: 14px;
    font-weight: bold;
}

.orderAgreefrom {
    width: 1200px
}

.orderAgreeName {
    margin-top: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #eee;
}

.orderAgreeInfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-bottom: 1px solid #eee;
}

.orderAgreeInfo img {
    width: 40px;
    vertical-align: middle;
}

.title1,
.title2 {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    margin-top: 40px;
}

.orderUserInfo tr,
.orderAgreePost tr {
    height: 40px;
    line-height: 40px;
}

.orderUserInfo input,
.orderAgreePost input {
    border: 1px solid rgb(199, 199, 199);
    height: 30px;
}

.postbtn {
    width: 120px;
    margin-left: 40px;
    vertical-align: middle;
}

#sample6_address,
#sample6_detailAddress,
#sample6_extraAddress {
    width: 800px;
}

.orderTotalMoney {
    text-align: center;
    margin-left: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.btnClass {
    margin: 30px 0;
    text-align: center;
}

.order_btn {
    width: 160px;
    height: 60px;
    margin: 50px 30px 0;
    font-size: 20px;
    background-color: #cd2c3b;
    color: #f5f5f5;
    border: 0.1px solid;
}

.cancel_btn {
    width: 160px;
    height: 60px;
    margin: 50px 30px 0;
    font-size: 20px;
    background-color: #f5f5f5;
    border: 0.1px solid #eee;
}
