* {
    text-decoration: none !important;
    box-sizing: border-box !important;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

a:link {
    text-decoration: none;
    color: #333333;
}

a:visited {
    text-decoration: none;
    color: #333333;
}

a:active {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: underline;
    color: red;
}

.flex-row-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.flex-row-center{
	display: flex;
    flex-direction: row;
    justify-content: center;
}

#root {
    width: 90%;
    margin: 0 auto;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

#content {
    width: 1200px;
    margin: 0 auto;
}